body {
    margin: 0px;
    padding: 0px;
    background: url("../pic/1.jpg");
    background-size: cover;
    background-position: 50% 60%;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    text-align: center;
}

.title {
    width: 100%;
    text-align: center;
}

.all-card {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* justify-content: center; */
    width: 90%;
    height: 100%;
    list-style: none;
   
}

.card {
    flex:auto;

    /* overflow-x: hidden; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    border-radius: 15px;
    margin: 10px 5px;
    height: wrap;
    
    background-color: rgba(35, 62, 134, 0.815);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(6, 45, 63, 0.863);
}

.container {
    padding: 2px 16px;
}